<router-outlet></router-outlet>

<!-- <app-page [defaultPage]="2" (page)="changePage($event)"></app-page> -->

<!-- <div>
  <button mat-raised-button routerLink='twoway'>TwoWay</button>
  <button mat-raised-button routerLink='btn'>Btn</button>
  <button mat-raised-button routerLink='event'>Event</button>
  <button mat-raised-button routerLink='ng'>ng</button>
  <button mat-raised-button routerLink='api'>API</button>
  <button mat-raised-button routerLink='form'>Form</button>
  <button mat-raised-button routerLink='lang'>Lang</button>
  <button mat-raised-button routerLink='page'>Page</button>
</div> -->