<!-- <p>Input Name:</p>
<input type="text">

<p>Hello, {{ inputS }}</p> -->


<!-- Two Way Binding -->
<p>Input Name:</p>
<input type="text" [(ngModel)]="inputS">

<p>Hello, {{ inputS }}</p>


<!-- Reactive Forms -->
<!-- <form [formGroup]="from" (ngSubmit)="print()">
  <input type="text" formControlName="name">
  <button type="submit">Submit</button>
</form> -->

<!-- [disabled]="!from.valid" -->



<!-- @input, @output -->
<!-- <input type="text" [ngModel]="inputS" (ngModelChange)="inputS=$event"> -->
<!-- <app-page [defaultPage]="defaultPage" (page)="changePage($event)"></app-page> -->